*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root, .app {
  height: 100%;
}

progress {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 10px;
    overflow: hidden;
  }
  
  progress::-webkit-progress-bar {
    background-color: grey;
    border-radius: 10px;
  }
  
  progress::-webkit-progress-value {
    background-color: #122D7B;
    border-radius: 10px;
  }
  
  progress::-moz-progress-bar {
    background-color: grey;
    border-radius: 10px;
  }
  